# Double voting and the birthday problem

<img src="img/voting.jpg" alt="voting" width="400" align="left"/>

## Introduction

Claims of voter fraud are widespread. Here's one example:

> **“Probably over a million people voted twice 
in [the 2012 presidential] election.”**
>
> Dick Morris, in 2014 on Fox News

**Double voting** occurs when a single person illegally casts more than one vote in an election.

To start, consider this fact:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. From those 141 individuals, we can make 27 pairs with exactly the same birthday.

Were there 27 fraudulent "John Smith" ballots in the 2012 election? Let's find out.

## The birthday problem

<img src="img/birthday.jpg" alt="voting" width="200" align="left"/>

To begin answering this question, let's solve a similar problem: 

> In a room of 60 people, how likely is it that two people share exactly the same birthday? 
>
> You can assume that every person in the room was born in the same year.

To answer this question, we could use the following algorithm:
 > 1. We need a room of 60 people, and we need to know their birthdays.
 > 2. We need to check whether two people in that room share a birthday.
 > 3. We need to repeat steps 1 and 2 over and over.
 > 4. We need to figure out how often two or more people shared a birthday in our simulations.

## The `sample` command

Here's the first step of our algorithm:

> We need a room of 60 people, and we need to know their birthdays.

To do this in `R`, we could use the `sample` command, which works as follows:

> `sample(numbers to choose from, how many numbers to choose, whether to re-use numbers)`

Note: To learn more about an `R` function, enter `?<function_name>` into the console. For example, entering `?sample` will provide information about the `sample` command.

In [1]:
# To run code in a cell, you can either press SHIFT + ENTER, 
# or press the triangular play button at the top of this page.
#
# Note: the colon (`:`) symbol allows us to create lists of consecutive 
# integers from start:end.

sample(1:50, 5, replace = FALSE)

[1] 24 25 18 32  3

In [2]:
sample(50:60, 5, replace = TRUE)

[1] 54 54 58 60 52

In [5]:
# Why does this fail?
sample(1:5, 6, replace = FALSE)

ERROR: Error in sample.int(length(x), size, replace, prob): cannot take a sample larger than the population when 'replace = FALSE'

### Exercise

**Using `sample`, simulate a list of 60 random birthdays.**

In [7]:
# Your code goes here!

# START
sample(1:366, 60, replace = TRUE)
# END

 [1]  96 312 290 339 343 100 118 348 273 358 210   7  98 365  79 353   6   4  82
[20] 260 309 346 101 159 160 307  54 128  99 195 332 323 325  71  70 273 138 158
[39]  80 327 352  73 272 165 309 357 307 107 273 166  10 300 173 355 257 345  32
[58] 206 233 173

## Basic operations, variables, and vectors

### Using R as a calculator

In [6]:
5 + 10

[1] 15

In [27]:
30 * 3

[1] 90

In [29]:
25 / 5

[1] 5

In [30]:
3 ^ 2

[1] 9

In [1]:
(2 + 3) * 5

[1] 25

### Variable Assignment

While both `x <- 2` and `x = 2` will assign the value `2` to `x`, it is customary to use `<-` for variable assignment in `R`.

In [5]:
x <- 2
x

[1] 2

In [6]:
x = 2
x

[1] 2

### Vectors

Vectors are the building block of `R`. Even single digits and strings are technically vectors of length 1.

In [10]:
print("hello")

[1] "hello"

The bracketed numbers on the left side of the printed results indicate the index of the element immediately to the right.

For example `[26]` indicates that `50` is the 20th element in the vector.

In [25]:
print(25:75)

 [1] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[26] 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
[51] 75

We can also use `c()` to create vectors. The "c" stands for **concatenate**.

In [66]:
c(10, 100, 1000)

[1]   10  100 1000

We can index elements of vectors using `[ ]`.

**IMPORTANT NOTE**: Unlike other programming languages, R is 1-indexed, not 0-indexed. So, the first element in a vector is assigned an index of 1, not 0.

In [15]:
my_vector <- c("Sharad", "Alex", "Jerry", "Josh")

In [16]:
my_vector[1]

[1] "Sharad"

We can optionally name elements of vectors:

In [55]:
named_vector <- c(professor = "Sharad", ta_1 = "Alex", ta_2 = "Jerry", ta_3 = "Josh")
named_vector['professor']

professor
 "Sharad"

## Back to the birthday problem: Finding duplicates

The code below defines a new function, `has_duplicate`.

> `has_duplicate` returns `TRUE` if a vector contains any duplicate values, and FALSE otherwise.

`R` automatically returns the last line of every function. No need to call `return` explicitly.

In [18]:
has_duplicate <- function(v) {
    any(duplicated(v))
}

In [19]:
has_duplicate(c(1, 2, 3, 4, 5))

[1] FALSE

In [22]:
has_duplicate(c(1, 2, 3, 4, 5, 5))

[1] TRUE

### Exercise

**Generate a vector of 60 random birthdays, and determine whether the vector has any duplicates. Run your code a couple times to get a sense of how frequently there is at least one duplicated birthday.**

In [29]:
# Your code here!

# START
has_duplicate(sample(1:366, 60, replace = TRUE))
# END

[1] TRUE

### Counting duplicates

The code below defines another function, `num_pairs`.

`num_pairs` returns the number of pairs that can formed with duplicated values.

> Recall that we can form $\binom{n}{2}$ pairs from $n$ values.
>
> $\binom{n}{2} = \frac{n!}{2!(n - 2)!}$

For example, the vector `c(1, 2, 3, 3)` has two 3s, so `num_pairs` should return $\binom{2}{2} = 1$. In other words, we can only make one pair of identical numbers.

The vector `c(1, 2, 3, 3, 3, 3)` has four 3s, so `num_pairs` should return $\binom{4}{2} = 6$.

The vector `c(1, 2, 3, 4, 5, 5, 5, 6, 6)` has three 5s and two 6s, so `num_pairs` should return $\binom{3}{2} + \binom{2}{2} = 4$.

In [76]:
# don't worry at all about studying/understanding this specific function!
num_pairs <- function(v) {
    duplicated_indices <- duplicated(v)
    duplicated_values <- v[duplicated_indices]
    duplicated_counts <- table(duplicated_values) + 1
    sum(choose(duplicated_counts, 2))
}

In [77]:
num_pairs(c(1, 2, 3, 3))

[1] 1

In [78]:
num_pairs(c(1, 2, 3, 3, 3, 3))

[1] 6

In [79]:
num_pairs(c(1, 2, 3, 4, 5, 5, 5, 6, 6))

[1] 4

### Exercise

**Think back to the John Smith example:**

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. From those 141 individuals, we can make 27 pairs with exactly the same birthday.

**Generate a vector of 141 random birthdays, and determine how many duplicate pairs can be formed from elements in the vector.** Run your code repeatedly to see how the results can change due to randomness.

In [85]:
# Your code here!

# START
num_pairs(sample(1:366, 141, replace = TRUE))
# END

[1] 24

### Repetition with `for` loops

Here's the third step in our algorithm:

> We need to repeat this process over and over.

Here's the syntax for a `for` loop with `R`:

> for (`element` in `vector`) { do something }

**Important note:** `for` loops are typically not the most efficient way to solve problems in `R`, but they are a handy tool for learning about iteration.

Instead, it is best to use a vectorized function, such as `replicate` or `map`. We will see an example later on.

In [61]:
for (i in 1:10) {
    print("Hello, world!")
}

[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"

In [62]:
for (i in 1:3) {
    print(sample(1:20, 5, replace = TRUE))
}

[1] 10  9 10  9 11
[1]  3  8 20  3  6
[1]  7 12  8  9 20

## Booleans and control flow

In [77]:
9 == 10

[1] FALSE

In [46]:
9 <= 10

[1] TRUE

In [47]:
TRUE & FALSE

[1] FALSE

In [48]:
T | F

[1] TRUE

In [50]:
! TRUE

[1] FALSE

In [41]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
    
    else {
        print("Counter is less than 3.")
    }
}

[1] 1
[1] "Counter is less than 3."
[1] 2
[1] "Counter is less than 3."
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

## Back to the birthday problem: Translating our algorithm into code

We're ready to come back to our algorithm:

> 1. We need a room of 60 people, and we need to know their birthdays.
> 2. We need to check whether two people in that room share a birthday.
> 3. We need to repeat this process over and over.
> 4. We need to figure out how frequently two or more people shared a birthday in our simulations.

### Exercise

**Translate our algorithm into code to solve the birthday problem!**

In [88]:
# Your code here!

# START
# This is the total number of birthday vectors we will generate
n <- 1000

# This is a counter to keep track of how many vectors had at least one duplicate birthday
n_with_duplicates <- 0

# Each time we see a vector with at least one duplicate, we should increment our counter
for (i in 1:n) {
    
    if (has_duplicate(sample(1:366, 60, replace = TRUE))) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

# Fraction of vectors with at least one duplicate
n_with_duplicates / n
# END

[1] 0.996

### Exercise A

**Increase the number of birthdays we generate in each vector, and re-run the code several times. What happens to the fraction of vectors with duplicates?**

Write your answer by double clicking on this text!

### Exercise B

**Decrease the number of birthday vectors to 100, and re-run the code several times. What happens to the results?**

Write your answer by double clicking on this text!

### Exercise C

**Increase the number of birthday vectors to 100,000, and re-run the code several times. What happens to the results?**

Write your answer by double clicking on this text!

### Exercise D

**How many birthdays should be in each vector for an approximately 50% chance of a match?**

Write your answer by double clicking on this text!

## Circling back to double voting

Remember our original problem:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. From those 141 individuals, we can make 27 pairs with exactly the same birthday.

### Exercise

**Modify the simulation code to calculate the average number of duplicate birthday pairs across 1,000 vectors of 141 individuals.**

How does your answer compare to the 27 birthday pairs we found in the real data?

In [92]:
# Your code here!

# START
n <- 1000

n_pairs <- 0

for (i in 1:n) {
    
    n_pairs <- n_pairs + num_pairs(sample(1:366, 141, replace = TRUE))
    
}

n_pairs / n
# END

[1] 26.926