# Data manipulation in `R` with `dplyr`

First, load `dplyr` and create an example data frame

In [15]:
library(dplyr)

load('../data/sqf.Rdata')

head(hitrate_by_location)

  precinct location.housing count black   white
1 1        neither          400   0.05285 0.09740
2 1        transit          398   0.16350 0.45185
3 5        housing          295   0.00738 0.04167
4 5        neither          608   0.05804 0.15000
5 5        transit          230   0.16084 0.43678
6 6        neither          866   0.05031 0.10000

[1] "hitrate_by_location"     "hitrate_by_precinct"
[3] "overall_hitrate_by_race"

## Filter

In [8]:
hitrate_by_location %>%
  filter(precinct == 5)

  precinct location.housing count black   white
1 5        housing          295   0.00738 0.04167
2 5        neither          608   0.05804 0.15000
3 5        transit          230   0.16084 0.43678

## Select

In [10]:
hitrate_by_location %>%
  select(precinct, count) %>%
  head

  precinct count
1 1        400
2 1        398
3 5        295
4 5        608
5 5        230
6 6        866

## Transform

In [16]:
hitrate_by_location %>%
  mutate(more_black=ifelse(black > white, TRUE, FALSE)) %>%
  head

  precinct location.housing count black   white   more_black
1 1        neither          400   0.05285 0.09740 FALSE
2 1        transit          398   0.16350 0.45185 FALSE
3 5        housing          295   0.00738 0.04167 FALSE
4 5        neither          608   0.05804 0.15000 FALSE
5 5        transit          230   0.16084 0.43678 FALSE
6 6        neither          866   0.05031 0.10000 FALSE

## Aggregate

In [18]:
hitrate_by_location %>%
  mutate(more_black=ifelse(black > white, TRUE, FALSE)) %>%
  summarize(high_black_rate=mean(more_black))

  high_black_rate
1 0.2289

## Sort

In [20]:
hitrate_by_location %>%
  arrange(count) %>%
  head

  precinct location.housing count black   white
1 112      housing           5    0.00000 0
2 121      housing           8    0.00000 0
3 33       housing          15    0.07143 0
4 115      housing          16    0.10000 0
5 70       housing          17    0.00000 0
6 13       housing          24    0.00000 0

## Group-wise operations

In [21]:
hitrate_by_location %>% 
  group_by(location.housing) %>%
  summarize(hit_rate_black=mean(black), hit_rate_white=mean(white))

  location.housing hit_rate_black hit_rate_white
1 housing          0.01346        0.01940
2 neither          0.03448        0.06592
3 transit          0.17082        0.36224

In [23]:
hitrate_by_location %>% 
  group_by(precinct, location.housing) %>%
  summarize(hit_rate_black=mean(black), hit_rate_white=mean(white)) %>%
  head

  precinct location.housing hit_rate_black hit_rate_white
1 1        neither          0.05285        0.09740
2 1        transit          0.16350        0.45185
3 5        housing          0.00738        0.04167
4 5        neither          0.05804        0.15000
5 5        transit          0.16084        0.43678
6 6        neither          0.05031        0.10000

## Joins

In [38]:
users <- data.frame(
  user=c(23, 789, 234, 7, 26, 567, 2),
  sex=c('male', 'female', 'female', 'male', 'male', 'female', 'female')
)

activity <- data.frame(
  user=c(23, 789, 234, 7, 2, 8),
  activity=c(3, 2, 1, 1, 1, 3)
)

users
activity

  user sex
1  23  male
2 789  female
3 234  female
4   7  male
5  26  male
6 567  female
7   2  female

  user activity
1  23  3
2 789  2
3 234  1
4   7  1
5   2  1
6   8  3

### *Left* join

In [39]:
left_join(users, activity)

Joining, by = "user"

  user sex    activity
1  23  male    3
2 789  female  2
3 234  female  1
4   7  male    1
5  26  male   NA
6 567  female NA
7   2  female  1

### *Inner* join

In [40]:
inner_join(users, activity)

Joining, by = "user"

  user sex    activity
1  23  male   3
2 789  female 2
3 234  female 1
4   7  male   1
5   2  female 1

### *Full* join

In [41]:
full_join(users, activity)

Joining, by = "user"

  user sex    activity
1  23  male    3
2 789  female  2
3 234  female  1
4   7  male    1
5  26  male   NA
6 567  female NA
7   2  female  1
8   8  NA      3