# Data manipulation in `R` with `dplyr`

First, load `dplyr` and create an example data frame

In [21]:
library(dplyr)

stop_data <- data.frame(
    date=as.Date(rep('2012-07-15', 9)),
    precinct=c(72, 10, 10, 72, 3, 72, 3, 3, 3),
    race=c('black', 'white', 'black', 'black', 'black', 'white', 'black', 'black', 'black'),
    weapon=c(FALSE, TRUE, FALSE, FALSE, TRUE, FALSE, FALSE, FALSE, FALSE),
    age=c(26, 62, 18, 37, 54, 47, 34, 29, 17)
)

stop_data

  date       precinct race  weapon age
1 2012-07-15 72       black FALSE  26
2 2012-07-15 10       white  TRUE  62
3 2012-07-15 10       black FALSE  18
4 2012-07-15 72       black FALSE  37
5 2012-07-15  3       black  TRUE  54
6 2012-07-15 72       white FALSE  47
7 2012-07-15  3       black FALSE  34
8 2012-07-15  3       black FALSE  29
9 2012-07-15  3       black FALSE  17

## Filter

In [19]:
stop_data %>%
  filter(precinct == 3)

  date       precinct race  weapon
1 2012-07-15 3        black  TRUE
2 2012-07-15 3        black FALSE
3 2012-07-15 3        black FALSE
4 2012-07-15 3        black FALSE

## Select

In [20]:
stop_data %>%
  select(date, precinct)

  date       precinct
1 2012-07-15 72
2 2012-07-15 10
3 2012-07-15 10
4 2012-07-15 72
5 2012-07-15  3
6 2012-07-15 72
7 2012-07-15  3
8 2012-07-15  3
9 2012-07-15  3

## Transform

In [23]:
stop_data %>%
  mutate(teen=ifelse(age < 20 & age > 12, TRUE, FALSE))

  date       precinct race  weapon age teen
1 2012-07-15 72       black FALSE  26  FALSE
2 2012-07-15 10       white  TRUE  62  FALSE
3 2012-07-15 10       black FALSE  18   TRUE
4 2012-07-15 72       black FALSE  37  FALSE
5 2012-07-15  3       black  TRUE  54  FALSE
6 2012-07-15 72       white FALSE  47  FALSE
7 2012-07-15  3       black FALSE  34  FALSE
8 2012-07-15  3       black FALSE  29  FALSE
9 2012-07-15  3       black FALSE  17   TRUE

## Aggregate

In [24]:
stop_data %>%
  summarize(hit_rate=mean(weapon))

  hit_rate
1 0.2222

## Sort

In [25]:
stop_data %>%
  arrange(age)

  date       precinct race  weapon age
1 2012-07-15  3       black FALSE  17
2 2012-07-15 10       black FALSE  18
3 2012-07-15 72       black FALSE  26
4 2012-07-15  3       black FALSE  29
5 2012-07-15  3       black FALSE  34
6 2012-07-15 72       black FALSE  37
7 2012-07-15 72       white FALSE  47
8 2012-07-15  3       black  TRUE  54
9 2012-07-15 10       white  TRUE  62

## Group-wise operations

In [27]:
stop_data %>% 
  group_by(race) %>%
  summarize(hit_rate=mean(weapon))

  race  hit_rate
1 black 0.1429
2 white 0.5000

In [28]:
stop_data %>% 
  group_by(precinct) %>%
  summarize(hit_rate=mean(weapon))

  precinct hit_rate
1  3       0.25
2 10       0.50
3 72       0.00

In [29]:
stop_data %>%
  group_by(precinct, race) %>%
  summarize(hit_rate=mean(weapon))

  precinct race  hit_rate
1  3       black 0.25
2 10       black 0.00
3 10       white 1.00
4 72       black 0.00
5 72       white 0.00

## Joins

In [38]:
users <- data.frame(
  user=c(23, 789, 234, 7, 26, 567, 2),
  sex=c('male', 'female', 'female', 'male', 'male', 'female', 'female')
)

activity <- data.frame(
  user=c(23, 789, 234, 7, 2, 8),
  activity=c(3, 2, 1, 1, 1, 3)
)

users
activity

  user sex
1  23  male
2 789  female
3 234  female
4   7  male
5  26  male
6 567  female
7   2  female

  user activity
1  23  3
2 789  2
3 234  1
4   7  1
5   2  1
6   8  3

### *Left* join

In [39]:
left_join(users, activity)

Joining, by = "user"

  user sex    activity
1  23  male    3
2 789  female  2
3 234  female  1
4   7  male    1
5  26  male   NA
6 567  female NA
7   2  female  1

### *Inner* join

In [40]:
inner_join(users, activity)

Joining, by = "user"

  user sex    activity
1  23  male   3
2 789  female 2
3 234  female 1
4   7  male   1
5   2  female 1

### *Full* join

In [41]:
full_join(users, activity)

Joining, by = "user"

  user sex    activity
1  23  male    3
2 789  female  2
3 234  female  1
4   7  male    1
5  26  male   NA
6 567  female NA
7   2  female  1
8   8  NA      3